# Windows-spezifische Dateien ignorieren
Thumbs.db
desktop.ini

# Temporäre Dateien
*.tmp
*.log

# Build-Verzeichnisse und große Datenordner
/output/
/notebooks/
/data/
/models/

# Konfigurationsdateien
config.json
.env

# Andere übliche Verzeichnisse
/node_modules/
/__pycache__/

# Python-spezifische Dateien
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg